.popup.slideshow .content ul.rows{
padding-right:0;
position:relative;
z-index:10000;
}

.popup.slideshow .content ul.rows li.row{
width:240px;
}

.popup.slideshow .content ul.rows li.row.transition-time input{
display:block;
position:absolute;
top:8px;
right:auto;
bottom:auto;
left:116px;
width:54px;
height:24px;
margin:0;
padding:6px 0 6px 8px;
background:#1e1e1e;
border:none;
-webkit-border-radius:3px;
-moz-border-radius:3px;
border-radius:3px;
-webkit-box-shadow:rgba(255,255,255,0.07) 0 1px 0,inset rgba(0,0,0,0.75) 0 1px 1px,inset rgba(0,0,0,0.13) 0 0 7px;
-moz-box-shadow:rgba(255,255,255,0.07) 0 1px 0,inset rgba(0,0,0,0.75) 0 1px 1px,inset rgba(0,0,0,0.13) 0 0 7px;
box-shadow:rgba(255,255,255,0.07) 0 1px 0,inset rgba(0,0,0,0.75) 0 1px 1px,inset rgba(0,0,0,0.13) 0 0 7px;
font:bold 12px/1 "Helvetica Neue",Arial,Helvetica,Arial,sans-serif}

.popup.slideshow .content ul.rows li.row.transition-time input[type=number]::-webkit-inner-spin-button{
background:url("/assets/popups/input-number.png") top left;
height:8px;
width:16px;
-webkit-appearance:none}

.popup.slideshow .content ul.rows li.row.transition-time input[type=number]::-webkit-outer-spin-button{
-webkit-appearance:none}

.popup.slideshow .content ul.rows li.row.transition-time span.unit{
font:bold 13px/40px "Helvetica Neue",Arial,Helvetica,Arial,sans-serif;
padding-left:7px;
color:#a0a0a0;
text-shadow:rgba(0,0,0,0.99) 0 -1px 0;
-webkit-font-smoothing:antialiased;
position:absolute;
top:0;
left:170px}

.popup.slideshow .content ul.rows li.row.transition-style{
margin-left:9px}

.popup.slideshow .content ul.rows li.row label{
left:11px}

.popup.slideshow .content ul.images{
zoom:1;
padding:0 0 0 11px;
}

.popup.slideshow .content ul.images:before,.popup.slideshow .content ul.images:after{
content:"";
display:table}

.popup.slideshow .content ul.images:after{
clear:both}

.popup.slideshow .content ul.images li.image{
height:89px;
width:89px;
margin:0 5px 11px 6px;
float:left;
background:#1e1e1e;
position:relative;
}

.popup.slideshow .content ul.images li.image.empty,.popup.slideshow .content ul.images li.image.add{
cursor:pointer;
-webkit-box-shadow:rgba(255,255,255,0.07) 0 1px 0,inset rgba(0,0,0,0.37) 0 1px 1px,inset rgba(0,0,0,0.07) 0 0 7px;
-moz-box-shadow:rgba(255,255,255,0.07) 0 1px 0,inset rgba(0,0,0,0.37) 0 1px 1px,inset rgba(0,0,0,0.07) 0 0 7px;
box-shadow:rgba(255,255,255,0.07) 0 1px 0,inset rgba(0,0,0,0.37) 0 1px 1px,inset rgba(0,0,0,0.07) 0 0 7px;
}

.popup.slideshow .content ul.images li.image.empty:before,.popup.slideshow .content ul.images li.image.add:before{
display:block;
content:''}

.popup.slideshow .content ul.images li.image.empty:before{
position:relative;
top:28px;
content:'Upload Image';
font:bold 14px/1.2 "Helvetica Neue",Arial,Helvetica,Arial,sans-serif;
text-align:center;
color:#464646;
text-shadow:rgba(0,0,0,0.99) 0 -1px 0;
-webkit-font-smoothing:antialiased}

.popup.slideshow .content ul.images li.image.empty a.upload{
display:block;
background:url("/assets/popups/screenshot-upload.png") -12px -12px;
height:65px;
width:65px;
margin:12px;
opacity:0;
filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
text-indent:-99999em;
overflow:hidden;
text-align:left;
}

.popup.slideshow .content ul.images li.image.empty a.upload:hover{
background-position:-12px -101px}

.popup.slideshow .content ul.images li.image.empty a.upload:active{
background-position:-12px -190px}

.popup.slideshow .content ul.images li.image.empty:hover:before{
display:none}

.popup.slideshow .content ul.images li.image.empty:hover a.upload{
opacity:1;
filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100)}

.popup.slideshow .content ul.images li.image.add:before{
height:41px;
width:41px;
position:relative;
top:24px;
left:24px;
background:url("/assets/popups/screenshot-add.png");
-webkit-box-shadow:rgba(0,0,0,0.22) 0 2px 2px;
-moz-box-shadow:rgba(0,0,0,0.22) 0 2px 2px;
box-shadow:rgba(0,0,0,0.22) 0 2px 2px}

.popup.slideshow .content ul.images li.image.add:hover:before,.popup.slideshow .content ul.images li.image.add:focus:before{
background-position:0 -41px}

.popup.slideshow .content ul.images li.image.add:active:before{
background-position:0 -82px}

