.popup.custom-price .content ul.rows{
padding-top:21px;
}

.popup.custom-price .content ul.rows li.row{
width:358px;
position:relative;
}

.popup.custom-price .content ul.rows li.row label{
left:11px}

.popup.custom-price .content ul.rows li.row input{
width:85px;
left:134px;
text-align:right}

.popup.custom-price .content ul.rows li.row span.unit{
font:bold 13px/40px "Helvetica Neue",Arial,Helvetica,Arial,sans-serif;
padding-left:6px;
color:#a0a0a0;
text-shadow:rgba(0,0,0,0.99) 0 -1px 0;
-webkit-font-smoothing:antialiased;
position:absolute;
position:absolute;
top:0;
left:219px}

