.popup.download-link
  z 10000
  .content
    h 100px
    ul.rows
      pt 9px
      li.row
        w 358px
        relative()
        mb 6px
        label
          left 6px
        input
          w 244px
          left 82px
      li.desc
        f bold 13px/17px sans
        c #ccc
        aa()
        text-shadow b99 0 -1px 0
        p 0 55px
        a
          c #ccc
          text-decoration underline
  &.amazon-link
    .content
      ul.rows
        pt 28px
        li.row
          input
            w 240px
            left 91px
