.popup.message.upload-song
  .content
    .msg
      p 14px 0
      relative()
      ta left
      p
        f bold 15px/1 sans
        ta center
        mb 5px
      small
        d block
        p 0 40px
        ta left
        f 13px/15px sans
        c #ccc
        aa()
        text-shadow b99 0 -1px 0
      .help
        absolute top 14px right 15px
