!!!
%html
  %head
    %title Spindal - Uploads
    = stylesheet_link_tag 'http://twitter.github.com/bootstrap/assets/css/bootstrap.css'
    :css
      body { margin-top: 60px; }
  %body
    .container
      .navbar.navbar-fixed-top
        .navbar-inner
          .container
            %ul.nav
              %li= link_to 'Home', root_path
              %li.active= link_to 'Uploads', uploads_path

      = yield
