<div id="cpanel">

  <div id="top-bar">
    <a id="logout" href="#">&times;</a>
  </div>

  <ul id="cpanel-tabs" class="tabs">
    <li class="tab home"><a href="#home-panel">S</a>
    <li class="tab profile"><a href="#profile-panel">Profile</a>
    <li class="tab music"><a href="#music-panel">Music</a>
    <li class="tab gallery"><a href="#gallery-panel">Gallery</a>
    <li class="tab stats"><a href="#stats-panel">Stats</a>
    <li class="tab account"><a href="#account-panel">Account</a>
    <li class="tab minimize"><a>Minimize</a>
  </ul>

  <div class="panel ui-tabs-hide" id="home-panel">Home
  </div><!--panel-->

  <div class="panel ui-tabs-hide" id="profile-panel">
  </div><!--panel-->

  <div class="panel ui-tabs-hide" id="gallery-panel">
  </div><!--panel-->

  <div id="music-panel" class="panel ui-tabs-hide">
  </div><!--panel-->

  <div class="panel ui-tabs-hide" id="stats-panel">
    <form>
      <ul class="rows tabs">
        <li class="row time select">
          <label>Select Time Frame</label>
          <div class="select-time">
            <div class="select-container">
              <input class="framepicker" placeholder="Oct 12, 2012">
            </div>
            <span class="divider">-</span>
            <div class="select-container">
              <input class="framepicker" placeholder="Nov 12, 2012">
            </div>
          </div>
        <li class="row analytics">
          <a class="google-analytics" href="#">Embed Google Analytics</a>
      </ul>
      <div class="modules panel">
        <div class="split">

          <div class="module">
            <div class="header">Visitors</div>
            <div class="content">
              <p class="big">13,356</p>
              <p class="small">Unique 12,303</p>
            </div><!--content-->
          </div><!--module-->

          <div class="module">
            <div class="header">Song Plays</div>
            <div class="content">
              <p class="big bb">15,908</p>
              <table class="green">
                <tr>
                  <td class="title">Wild Flower
                  <td class="value">6,203
                <tr>
                  <td class="title">Love Removal Machine
                  <td class="value">4,302
                <tr>
                  <td class="title">Last Dance
                  <td class="value">3,509
                <tr>
                  <td class="title">Lil&rsquo; Devil
                  <td class="value">1,998
                <tr>
                  <td class="title">Rain
                  <td class="value">1,758
                <tr>
                  <td class="title">She Sells Sanctuary
                  <td class="value">1.230
                <tr>
                  <td class="title">Fire Woman
                  <td class="value">1,203
                <tr>
                  <td class="title">Outlaw
                  <td class="value">302
                <tr>
                  <td class="title">Sweet Soul Sister
                  <td class="value">509
                <tr>
                  <td class="title">Edie (Ciao Baby)
                  <td class="value">998
                <tr>
                  <td class="title">Electric Ocean
                  <td class="value">758
                <tr>
                  <td class="title">Love
                  <td class="value">230
              </table>
            </div><!--content-->
          </div><!--module-->

        </div><!--split-->
        <div class="split">

          <div class="module">
            <div class="header">Sales</div>
            <div class="content">
              <p class="big bb">$3,513.15</p>
              <table class="blue">
                <caption>Album Sales</caption>
                <tr>
                  <td class="title">Sonic Temple
                  <td class="value">$8,203.10
                <tr>
                  <td class="title">Dreamtime
                  <td class="value">$5,302.75
              </table>
              <table class="green">
                <caption>Song Sales</caption>
                <tr>
                  <td class="title">Love Removal Machine
                  <td class="value">$16,203.30
                <tr>
                  <td class="title">Outlaw
                  <td class="value">$4,302.23
                <tr>
                  <td class="title">Last Dance
                  <td class="value">$3,509.95
                <tr>
                  <td class="title">Lil&rsquo; Devil
                  <td class="value">$2,998.78
                <tr>
                  <td class="title">Rain
                  <td class="value">$1,758.55
                <tr>
                  <td class="title">Spiritwalker
                  <td class="value">$1,200.45
              </table>

              <table class="blue">
                <caption>Free Album Downloads</caption>
                <tr>
                  <td class="title">Electric
                  <td class="value">820
                <tr>
                  <td class="title">Love
                  <td class="value">530
              </table>

              <table class="green">
                <caption>Free Song Downloads</caption>
                <tr>
                  <td class="title">She Sells Sanctuary
                  <td class="value">6,203
                <tr>
                  <td class="title">Fire Woman
                  <td class="value">302
                <tr>
                  <td class="title">Sweet Soul Sister
                  <td class="value">509
                <tr>
                  <td class="title">Edie (Ciao Baby)
                  <td class="value">998
              </table>
            </div><!--content-->
          </div><!--module-->
        </div><!--split-->
      </div><!--modules panel-->

    </form>
  </div><!--panel-->

  <div class="panel ui-tabs-hide" id="account-panel">
  </div><!--panel-->

  <div id="bottom-bar"></div>
</div>

<form class="popup message confirm delete-event">
  <header>
    <ul>
      <li class="exit"><a class="exit" href="#">Exit</a>
    </ul>
  </header>
  <div class="content">
    <div class="msg">
      <p>Are you sure you want to Delete this Event?</p>
      <div class="help">
        <span class="icon">?</span>
        <span class="ui-tooltip-bottom">Are you sure you want to Delete this Event?</span>
      </div>
    </div>
  </div>
  <footer>
    <ul>
      <li><a class="yes">Yes</a>
      <li><a class="cancel">Cancel</a>
    </ul>
  </footer>
</form>

<!-- Profile popups -->
<form id="store-pop" class="popup store window profile url">
</form>

<form id="bio-pop" class="popup window profile bio textarea">
</form>

<form id="fb-pop" class="popup window profile facebook url">
</form>

<form id="twitter-pop" class="popup window profile twitter url">
</form>

<form id="news-pop" class="popup window profile news">
</form>

<form id="band-logo-pop" class="popup window profile band-logo">
</form>

<form id="live-show-pop" class="popup window profile live">
</form>

<!-- Gallery Popups -->

<form id="embed-video-pop" class="popup window gallery video textarea">
</form>

<!-- Music popups -->
<form id="itunes-media-link-pop" class="popup message download-link itunes-song-link">
</form>

<!-- Legacy - Song iTunes Popup takes care of both -->
<form class="popup message download-link itunes-album-link">
  <header>
    <ul>
      <li class="title">iTunes Album Link
      <li class="exit"><a class="exit" href="#">Exit</a>
    </ul>
  </header>
  <div class="content">
    <ul class="rows">
      <li class="row url">
        <label>iTunes Link</label>
        <input type="text" placeholder="http://itunes.apple.com/us/album/sabo">
        <div class="help">
          <span class="icon">?</span>
          <span class="ui-tooltip-bottom">You can directly link your album to your existing iTunes page for your fans to purchase your music. 
        </div>
      <li class="desc">
        To find your iTunes direct link click below:<br>
        <a href="http://itunes.apple.com/linkmaker/">http://itunes.apple.com/linkmaker/</a>
    </ul>
  </div>
  <footer>
    <ul>
      <li><a class="save">Save</a>
      <li><a class="cancel">Cancel</a>
    </ul>
  </footer>
</form>

<form id="amazon-media-link-pop" class="popup message download-link amazon-link">
</form>

<form id="upload-song-pop" class="popup message upload-song">
  
</form>

<form id="album-settings-pop" class="popup window album-settings">
</form>

<form id="slideshow-pop" class="popup window slideshow">
</form>

<form id="lyrics-pop" class="popup window lyrics textarea">
  
</form>

<form id="video-pop" class="popup window music video textarea">
</form>

<form id="delete-song-pop" class="popup message confirm delete-song">
</form>

<form id="delete-album-pop" class="popup message confirm delete-album">
</form>

<form id="custom-price-pop" class="popup message custom-price">
</form>


<!-- Logout -->
<form class="popup message confirm logout">
  <header>
    <ul>
      <li class="exit"><a class="exit" href="#">Exit</a>
    </ul>
  </header>
  <div class="content">
    <div class="msg">
      <p>Are you sure you want to Logout?</p>
    </div>
  </div>
  <footer>
    <ul>
      <li><a class="yes">Yes</a>
      <li><a class="cancel">Cancel</a>
    </ul>
  </footer>
</form>

<!-- stats popups -->

<form class="popup window google-analytics textarea">
  <header>
    <ul>
      <li class="title">Google Analytics
      <li class="exit"><a class="exit" href="#">Exit</a>
    </ul>
  </header>
  <div class="content">
    <ul class="rows">
      <li class="row">
        <label>Enter Google Analytics Tracking Code Below:</label>
        <div class="help">
          <span class="icon">?</span>
          <span class="ui-tooltip-top">Paste the tracking code below from 
your Google Analytics account below. Need more help? <a href="#">Click here</a></span>
        </div>
      <li class="row textarea">
        <div class="textarea-scroll">
          <textarea>
            Code Example:

            <script type="text/javascript">
              var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl."
            : "http://www.");
              document.write(unescape("%3Cscript src='" + gaJsHost + "google-anal
            ytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
            </script>

            <script type="text/javascript">
              try {
                var pageTracker = _gat._getTracker("UA-XXXXXXX-X");
                pageTracker._trackPageview();
              } catch(err) {
              }
            </script>
</iframe>
</textarea>
</div>
    </ul>
  </div>
  <footer>
    <ul>
      <li><a class="save">Save</a>
      <li><a class="cancel">Cancel</a>
    </ul>
  </footer>
</form>

<!-- account popups -->
<form id="account-info-pop" class="popup window account account-info">
</form>

<form id="billing-info-pop" class="popup window account billing-info">
</form>

<form class="popup message security-code">
  <header>
    <ul>
      <li class="title">Security Code
      <li class="exit"><a class="exit" href="#">Exit</a>
    </ul>
  </header>
  <div class="content">
    <img src="i/popups/security-code.png" alt="Security code location">
  </div>
  <footer>
    <ul>
      <li><a class="ok">OK</a>
    </ul>
  </footer>
</form>

<form id="change-plan-pop" class="popup window account plan">
</form>

<form id="cancel-plan-pop" class="popup message cancel-account">
</form>

<!-- gallery popup -->

<%= javascript_include_tag "control_panel" %>