%form.popup.window.add-song
  %header
    %ul
      %li.title Create new Song
      %li.exit
        %a.exit{href: '#'} Exit
  .content
    %ul.rows
      %li.row.song-name
        %input{placeholder: "Song Name", type: "text"}
  %footer
    %ul
      %li
        %a.save Save
      %li
        %a.cancel Cancel