%form.popup.message.confirm.delete-song
  %header
    %ul
      %li.exit
        %a.exit{:href => "#"} Exit
  .content
    .msg
      %p Are you sure you want to Delete this Song?
      .help
        %span.icon ?
        %span.ui-tooltip-bottom Any MP3, lyrics, photos or video assicated with this song will be deleted.
  %footer
    %ul
      %li
        %a.yes Yes
      %li
        %a.cancel Cancel