%form.popup.message.confirm.delete-album
  %header
    %ul
      %li.exit
        %a.exit{:href => "#"} Exit
  .content
    .msg
      %p Are you sure you want to Delete this Album?
      .help
        %span.icon ?
        %span.ui-tooltip-bottom All Songs within this Album including associated MP3s, lyrics, photos and videos will be deleted.
  %footer
    %ul
      %li
        %a.yes Yes
      %li
        %a.cancel Cancel