%form.popup.message.confirm.delete-event
  %header
    %ul
      %li.exit
        %a.exit{:href => "#"} Exit
  .content
    .msg
      %p Are you sure you want to Delete this Event?
      .help
        %span.icon ?
        %span.ui-tooltip-bottom Are you sure you want to Delete this Event?
  %footer
    %ul
      %li
        %a.yes Yes
      %li
        %a.cancel Cancel