%form.popup.message.confirm.logout
  %header
    %ul
      %li.exit
        %a.exit{:href => "#"} Exit
  .content
    .msg
      %p Are you sure you want to Logout?
  %footer
    %ul
      %li
        %a.yes Yes
      %li
        %a.cancel Cancel