%form.popup.message.security-code
  %header
    %ul
      %li.title Security Code
      %li.exit
        %a.exit{:href => "#"} Exit
  .content
    %img{:alt => "Security code location", :src => "i/popups/security-code.png"}
  %footer
    %ul
      %li
        %a.ok OK