%form.popup.message.upload-song
  %header
    %ul
      %li.title Choose a Song File
      %li.exit
        %a.exit{:href => "#"} Exit
  .content
    .msg
      %p Choose a Song File to Upload:
      %small The song you upload must be one of the following file formats:  .MP3  .FLAC .AIFF or .WAV
      .help
        %span.icon ?
        %span.ui-tooltip-bottom You can give your fans the option of downloading a high definition audio file by uploading a .FLAC .AIFF or .WAV file. MP3 is the most common file type.
  %footer
    %ul
      %li
        %a.yes Choose
      %li
        %a.cancel Cancel