!!!
%html
  %head
    %title AsyncUploader
    %link{href: '/stylesheets/bootstrap.css', media: 'screen', rel: 'stylesheet', type:'text/css'}
    %link{href: '/stylesheets/application.css', media: 'screen', rel: 'stylesheet', type:'text/css'}
  %body
    .container
      .navbar.navbar-fixed-top
        .navbar-inner
          .container
            %a.brand{href: '#'} AsyncUploader
            %ul.nav
              %li
                %a{href: '/'} Home

      - if @success
        .alert.alert-success= @success
      - if @error
        .alert.alert-error= @error
      = yield
      - 100.times do
        %br/
