@import url(font/regular.css);

html,body{
  height: 100%;
  overflow-y: hidden
}

body{
  font-size:13px;
  line-height:1.5;
  font-family:"Helvetica Neue",Arial,Helvetica,Arial,sans-serif;
  color:#1b1b1b;
  background:#262626 url("/assets/cp/cp-bg.png");
  -webkit-perspective:1000;
}

body .light{
  display:inline-block;
  height:20px;
  width:20px;
  background:url("/assets/cp/light.png") top center no-repeat;
  cursor:pointer;
}

body .light.disabled{
  background-position:0 -20px
}


@import url(partials/tooltip.scss);
@import url(jquery/selectBox.scss);
@import url(jquery/jscrollpane.scss);
@import url(jquery/jquery-ui.scss);
@import url(partials/player/index.scss);
@import url(partials/cpanel/index.scss);
@import url(partials/popups/index.scss);


.invisible{
  display: none !important;
}

span.ajax-loading{
  display:block;
  position:absolute;
  top:10px;
  right:10px;
  padding:10px;
  z-index:1;
}

span.dirty-resource{
  display:none;
  position:absolute;
  top:1%;
  left:83%;
  z-index:1;
}

.hidden{
  display:none;
}
